@use "../../styles/variables.scss" as vars;

.reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 60px;

  .reviews-title {
    color: vars.$color-text;
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vw, 2.75rem);
  }
}
