$font-roboto: "Roboto", sans-serif;
$font-millanova: "Millanova", serif;
$font-proxima: "Proxima Nova", sans-serif;
$font-rasfire: "Rasfire", sans-serif;
$font-nunito: "Nunito", sans-serif;

$color-background: #f8f8f8;
$color-text: #1c1c1c;
$color-white: #fff;
$color-error: #ff6347;
$color-indigo: #463998;
$color-disabled: #e0e0e0;
$border-disabled: #d0d0d0;
$color-placeholder: #888;

$button-background: #ec1c24;
$button-hover: #dd1a21;
$button-other: #f8f8f8;

$border-button: 1px solid #6a6a6a;
$border-input: 1px solid #d4d4d4;
$border-drop: 1px solid #1c1c1c;
$border-radio: 2px solid #d4d4d4;
$border-color: #1c1c1c;

$input-width-default: 100%;

$button-width: 40px;
$button-height: 30px;
