.contact-form-wrapper1 {
  display: flex;
  align-items: flex-end;
  height: auto;
  min-height: 500px;
  background-image: url("../../assets/images/bg-form1.webp");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.contact-form-wrapper2 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  height: auto;
  min-height: 450px;
  background-image: url("../../assets/images/bg-form2.webp");
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}
