@use "sass:color";
@use "../../../styles/variables" as vars;

.modal-phone {
  max-width: 350px;

  .form-title {
    font: 400 1.5rem / 1.3 vars.$font-roboto;
    color: vars.$color-text;
    text-align: center;
    max-width: 11.875rem;
    margin: 0 auto 0.9375rem;
    user-select: none;
  }

  .form-text {
    font: 300 1rem / 1 vars.$font-roboto;
    color: vars.$color-text;
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .form-contact {
    margin-bottom: 30px;
  }

  .form-contact__input {
    border: none;
    border-bottom: vars.$border-input;
    border-radius: 0;
    padding-left: 5px;
    padding-bottom: 5px;

    &:focus-visible,
    &:hover {
      border-color: vars.$border-color;
    }
  }

  .submit-button {
    position: relative;
    width: 100%;
    padding: 0.625rem 2.75rem 0.625rem 1.875rem;
    font: 500 1rem / 1 vars.$font-roboto;
    color: #fff;
    border-radius: 1.25rem;
    text-transform: uppercase;
    background-color: vars.$button-background;
    margin-bottom: 20px;

    &:focus:not(:focus-visible) {
      outline: none;
      border: none;
    }

    &:focus {
      outline: none;
      border: none;
    }

    &:focus-visible,
    &:hover {
      background-color: vars.$button-hover;
    }

    &::after {
      position: absolute;
      margin-left: 10px;
      top: 50%;
      content: url("../../../assets//images/arrow-icon.svg");
      transform: translateY(-50%);
      transition: transform 0.5s;
    }

    &:hover::after {
      transform: translate(5px, -50%) rotate(-45deg);
    }

    &:focus-visible {
      outline: none;
      background-color: vars.$button-hover;
    }

    &:focus-visible::after {
      transform: translate(5px, -50%) rotate(-45deg);
    }

    @media (hover: none) {
      &:hover::after {
        transform: translateY(-50%);
      }

      &:focus-visible::after {
        transform: translate(5px, -50%) rotate(-45deg);
      }
    }
  }

  .modal-phone__number {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid vars.$color-text;
    border-top: 2px solid vars.$color-text;

    .form-title__phone {
      font: 400 1rem / 1.3 vars.$font-roboto;
      color: vars.$color-text;
      text-align: center;
      max-width: 11.875rem;
      margin: 1rem auto 0.9375rem;
      user-select: none;
    }

    .phone-link {
      display: flex;
      justify-content: center;
      font: 500 1rem / 2 vars.$font-roboto;
      color: vars.$color-text;
      transition: color 0.3s;

      &:hover {
        color: color.scale(vars.$color-text, $lightness: 40%);
        text-decoration: underline;
      }
    }
  }
}
