@use "../../styles/variables.scss" as vars;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #ee1616;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-details {
  margin-top: 20px;
  margin-bottom: 11.25rem;

  @media (max-width: 1024px) {
    margin-bottom: 8.75rem;
  }
  @media (max-width: 500px) {
    margin-bottom: 7.5rem;
  }

  .description-form {
    display: flex;
    justify-content: space-between;
  }

  .description-mobile {
    display: none;

    @media (max-width: 550px) {
      display: inline-block;
      padding-inline: 30px;
    }

    .hotel-name {
      font: 900 clamp(1.25rem, 0.5vw, 2rem) / 1 vars.$font-roboto;
      margin: 10px 0 15px 0;
    }

    .star-rating {
      display: flex;
      gap: 5px;
      align-items: center;

      img {
        height: 18px;
        width: 18px;
      }
    }

    .review-info {
      font-size: 0.875rem;

      .rating {
        background-color: vars.$color-indigo;
        padding: 4px 10px;
        border-radius: 30px;
        font-weight: 400;
        color: vars.$color-white;
      }
    }

    .price-text {
      font-size: 0.875rem;

      .price-amount {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  .content-container {
    max-width: 740px;

    @media (max-width: 1024px) {
      max-width: 930px;
    }
  }
}
